a:link {color: #96846E;text-decoration: none;
	border-bottom: 0px dashed black;}
a:visited {color: #96846E;text-decoration: none;
	border-bottom: 1px dashed black;}
a:hover { color: #6B8F75;text-decoration: none;
	border-bottom: 0px dashed;}
a:active {color: #6B8F75;text-decoration: none;
	border-bottom: 0px dashed;}

body {
  background-image: url('background.jpg');
   background-attachment: fixed;
  background-color: #ffffff;
}

img {
max-width: 100%;
  height: auto;
}

hr.dash {
  max-width: 100%;
	border-top: 1px dashed #283C5D; 
  height: 1px; 
	width: 450px;
  border-bottom: 0px;
}

.name {
   max-width: 100%;
  height: auto;
   text-align: center;
	text-shadow: 2px 2px 4px #000000;
	font-size: 48px;
  font-family: palatino,calibri,arial;
	color: #283C5D;
}

.menu {
  border-width: 5px;  
    border-style: double;
  background-color: #ffffff;
  font-family: karla,calibri,arial;
  text-align: center;
  font-size: 25px;
  color: #283C5D;
}

.findme {
   font-family: karla,calibri,arial;
  text-align: center;
  font-size: 18px;
  color: #283C5D;
}

.title {
	font-family: Gentium Basic,calibri,arial;
  text-align: center;
  font-size: 36px;
  color: #283C5D;
}

.stuff {
  border-width: 5px;  
    border-style: double;
  background-color: #ffffff;
  width: 850px;
	margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
   font-family: karla,calibri,arial;
  text-align: left;
  font-size: 18px;
  color: #283C5D;
}

/* artwork */
.imgart {
  border: 1px dashed #96846E;
  padding: 0px;
  opacity: 0.7;
}

img.imgart:hover {
   border: 1px dashed #6B8F75;
}

a.artw:link {color: black;text-decoration: none;
	border-bottom: 0px dashed black;}
a.artw:visited {color: black;text-decoration: none;
	border-bottom: 0px dashed black;}
a.artw:hover { color: black;text-decoration: none;
	border-bottom: 0px dashed;}
a.artw:active {color: black;text-decoration: none;
	border-bottom: 0px dashed;}



/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 700px) {
  .name {
width: 100%;
    height: auto;
  }
	
  .menu {
	  	    width: 100%;
    height: auto;
    font-size: 18px;
  }
  
   .findme {
	   width: 100%;
    height: auto;
		text-align: center;
	}
  
  .title {
	  	    width: 100%;
    height: auto;
      }
  
  .stuff {
	     width: 100%;
    height: auto;
    padding-left: 0px;
  padding-right: 0px;
    }
	
}

