a:link {color: #A28933;text-decoration: none;
	}
a:visited {color: #A28933;text-decoration: none;
	}
a:hover { color: #6B8F75;text-decoration: none;
	}
a:active {color: #6B8F75;text-decoration: none;
	}

body {  
	background-image: url('background.jpg'); 
	background-attachment: fixed;
  background-color: #283C5D;
}

img {
max-width: 100%;
  height: auto;
}

hr.dash {
  max-width: 100%;
	border-top: 1px dashed #283C5D; 
  height: 1px; 
	width: 450px;
  border-bottom: 0px;
	}

.name {
    text-align: center;
	text-shadow: 2px 2px 4px #ffffff;
	font-size: 50px;
  letter-spacing: 4px;
  font-family: 'Georgia';
	color: #283C5D;
	}

.menu {
  margin: auto;
   width: 47%;
	 padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 50px;
  border-width: 4px;  
    border-style: double;
	border-color: #283C5D;
  background-color: #ffffff;
  font-family: 'Calibri';
  text-align: center;
  font-size: 25px;
  color: #283C5D;
}

.title {
	font-family: 'Georgia';
  text-align: center;
  font-size: 36px;
  color: #283C5D;
	}

.stuff {
  border-width: 4px;  
    border-style: double;
	border-color: #283C5D;
  background-color: #ffffff;
  width: 47%;
  margin: auto;
	 padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 20px;
   font-family: 'calibri';
  text-align: left;
  font-size: 18px;
  color: #283C5D;
}

.findme {
   font-family: 'Calibri';
  text-align: center;
  font-size: 18px;
  color: #283C5D;
}

/* responsive design */

@media screen and (max-width: 800px) {
  
  .name {
    width: 100%;
    font-family: 'georgia';
    font-size: 30px;
  }
  
  .menu {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'calibri';
    font-size: 20px;
  }
  
  .title {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'georgia';
	  font-size: 20px;
  }
  
  .stuff {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'calibri';
  font-size: 18px;
  color: #283C5D;
  }
 
  .findme {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}


/* artwork */
.imgart {
  border: 1px dashed #96846E;
  padding: 0px;
  opacity: 0.7;
}

img.imgart:hover {
   border: 1px dashed #6B8F75;
}

